.single-service-d4u {
  border: 1px solid #eef2f4;
  box-shadow: 0 0 10px #eef2f4;
  margin-bottom: 30px;
  padding: 30px 20px 30px 80px;
  position: relative;
}
.service-d4u-icon {
  border-right: 1px solid rgb(76, 175, 80);
  color: rgb(76, 175, 80);
  font-size: 25px;
  left: 0;
  position: absolute;
  text-align: center;
  width: 60px;
}
.single-service-d4u h4 {
  color: rgb(76, 175, 80);
  font-size: 14px;
  font-weight: 700;
}
.single-service-d4u p {
  font-size: 14px;
}

.section-padding {
  padding: 30px 0;
}
/* .stage-d4u-top-area {
  background: rgba(0, 0, 0, 0) url("../images/crossing.png") no-repeat scroll right 5% bottom 50% / 40% auto;
} */
.single-stage-d4u {
  margin-bottom: 50px;
  padding: 20px 20px 20px 80px;
  position: relative;
}
.stage-d4u-icon {
  background: rgb(76, 175, 80, 0.1) none repeat scroll 0 0;
  border-radius: 50%;
  color: rgb(76, 175, 80);
  font-size: 24px;
  height: 65px;
  left: 0;
  padding-top: 13px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 65px;
}
.stage-d4u-details h3 {
  font-size: 24px;
}
.stage-d4u-details p {
  font-size: 14px;
}
@media (max-width: 991px) and (min-width: 100px) {
  .stage-d4u-top-area {
    background: inherit;
  }
}
